<article id="doc-cover">
    {% if cover_logo is defined %}
        <div class="wrapper upper">
            <div class="logo" style="background-image: url({{ cover_logo | to_url }});"></div>
        </div>
    {% else %}
        <div class="wrapper"></div>
    {% endif %}
    <div class="wrapper">
        <h1>{{ cover_title | e }}</h1>
        <h2>{{ cover_subtitle | e }}</h2>
    </div>
    <div class="properties">
        <address>
            {% if author is defined %}
                <p id="author">{{ author | e }}</p>
            {% endif %}
            {# Build stamp instead of the config copyright: the plugin renders
               an unset copyright as the literal "None". The stamp is assembled
               by book_hooks.on_config() from the MDBX_BOOK_DATE/MDBX_BOOK_VERSION
               environment variables exported by the `books` make target. #}
            {% if build_stamp is defined %}
                <p id="copyright">{{ build_stamp | e }}</p>
            {% endif %}
        </address>
    </div>
</article>
